.tooltip_box_root{
    z-index: 10;
    position: absolute;
    left: 35px;
}
.tooltip_box{
    position: relative;
    display: flex;
    padding: 8px;
    min-width: calc(208px - 16px);
    min-height: calc(56px - 16px);
    border-radius: 12px;
    background-color: rgba(0,0,0, 0.8);
    gap: 8px;
}
.tooltip_box::after {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 8px;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    border-color: transparent rgba(0,0,0, 0.8) transparent transparent;
}
.tootip_text{
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF;
    align-self: center;
}